.garland {
    background-image: url(../../../assets/about.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .garland-text {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(54, 54, 54, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .garland-head {
    font-size: 35px;
    font-weight: bold;
    margin: 8px 0;
    color: white;
  }
  
  .garland-route {
    background-color: #263238;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .span {
    color: #ff477e;
  }
  
  .garland-content {
    margin-top: 20px;
  }
  
  .garland-c-head {
    margin-top: 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ff477e;
  }
  
  .garland-c-des {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    text-align: justify;
  }
  
  .garland-card-image {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
    margin-top: 40px;
  }
  
  @media (max-width: 1024px) {
    .garland-c-des,
    .garland-card-image {
      padding-left: 2%;
      padding-right: 1%;
    }
    .garland-card-image {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .garland-c-des,
    .garland-card-image {
      padding-left: 0%;
      padding-right: 5%;
    }
    .garland-card-image {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 568px) {
    .garland-c-des {
      padding-left: 7%;
      padding-right: 5%;
      text-align: justify;
    }
    .garland-card-image {
      padding-left: 7.5%;
      padding-right: 5%;
      justify-content: center;
    }
    .garland-c-head {
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .garland-card-image {
      grid-template-columns: 1fr;
    }
    .garland-head {
      font-size: 26px;
    }
    .garland-route {
      font-size: 15px;
    }
  }
  